@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}

/* background: linear-gradient(to right, #357937, #D0FFD2);} */
/* Custom styles for the calendar */
.custom-calendar {
    border: 2px solid #4CAF50;
    border-radius: 8px;
    padding: 10px;
  }

  
  
  .custom-calendar .react-calendar__tile {
    background-color: #f0f0f0;
    border-radius: 4px;
  }
  
  .custom-calendar .react-calendar__tile--active {
    background-color: #4CAF50;
    color: white;
  }
  
  .custom-calendar .react-calendar__tile--now {
    background-color: #ffeb3b;
  }
  
  .custom-calendar .react-calendar__navigation button {
    color: #4CAF50;
  }